{% extends 'main.html.twig' %}
{% set titre = 'Erreur' %}
{% block main_content %}
<div style="margin-top: 50px; text-align:center; font-size: 150%;">
    La page cherchée n'existe pas !
</div>
{% endblock %}