{% extends 'main.html.twig' %}
{% set titre = 'Bourse' %}
{% block main_content %}
<div class="notification"></div>
<div id="bourse">
    <a href="/"><button class="huge ui basic button" style="background: #fff !important">Sélectionner une autre famille</button></a>
    <button class="huge ui basic button" style="background: #fff !important;position:absolute;right: 10px">Numéro de famille : {{famille.id}}</button>
    <div class="ui raised segment" id="info_famille" data-id="{{famille.id}}">
        <a class="ui ribbon label">Famille sélectionnée</a>
        <div id="famille_infos">
            <p>
                <table class='ui striped table'>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Ville</th>
                            <th>E-mail</th>
                            <th>Téléphone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="famille_nom"></td>
                            <td id="famille_prenom"></td>
                            <td id="famille_ville"></td>
                            <td id="famille_mail"></td>
                            <td id="famille_tel"></td>
                        </tr>
                    </tbody>
                </table>
                <button class="ui button" id="button_modifier_famille"><i class="edit icon"></i>Modifier les coordonnées</button>
            </p>
        </div>
        <div id="famille_modifier" style="display:none">
            <p>
                <form class="ui form" id="form_modifier_famille">
                    <div class="fields">
                        <div class="four wide field">
                            <label>Nom</label>
                            <input type="text" placeholder="Nom" id="modifier_famille_nom">
                        </div>
                        <div class="four wide field">
                            <label>Prénom</label>
                            <input type="text" placeholder="Prénom" id="modifier_famille_prenom">
                        </div>
                        <div class="three wide field">
                            <label>Téléphone</label>
                            <input type="text" placeholder="Téléphone" id="modifier_famille_tel">
                        </div>
                        <div class="five wide field">
                            <label>E-mail</label>
                            <input type="email" placeholder="Adresse e-mail" id="modifier_famille_mail">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Adresse</label>
                            <input type="text" placeholder="Adresse" id="modifier_famille_adresse">
                        </div>
                        <div class="six wide field">
                            <label>Complément</label>
                            <input type="text" placeholder="Complément d'adresse" id="modifier_famille_complement">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="three wide field">
                            <label>Code postal</label>
                            <input type="number" placeholder="Code postal" id="modifier_famille_cp">
                        </div>
                        <div class="four wide field">
                            <label>Ville</label>
                            <input type="text" placeholder="Ville" id="modifier_famille_ville">
                        </div>
                        <div class="two wide field">
                        </div>
                        <div class="four wide field">
                            <label>Adhérent</label>
                            <div class="inline field">
                                <div class="ui checkbox">
                                    <input type="checkbox" id="modifier_famille_adherent">
                                    <label>Adhérent de l'association</label>
                                </div>
                            </div>
                        </div>
                        <div class="three wide field">
                            <label>Frais</label>
                            <div class="inline field">
                                <div class="ui checkbox">
                                    <input type="checkbox" id="modifier_famille_frais">
                                    <label>Pas de frais</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="four wide field">
                            <label>Nom pour facturation</label>
                            <input type="text" placeholder="Nom pour facturation" id="modifier_famille_nom_fact">
                        </div>
                        <div class="four wide field">
                            <label>Prénom pour facturation</label>
                            <input type="text" placeholder="Prénom pour facturation" id="modifier_famille_prenom_fact">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Adresse pour facturation</label>
                            <input type="text" placeholder="Adresse pour facturation" id="modifier_famille_adresse_fact">
                        </div>
                        <div class="six wide field">
                            <label>Complément pour facturation</label>
                            <input type="text" placeholder="Complément d'adresse pour facturation" id="modifier_famille_complement_fact">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="three wide field">
                            <label>Code postal pour facturation</label>
                            <input type="number" placeholder="Code postal pour facturation" id="modifier_famille_cp_fact">
                        </div>
                        <div class="four wide field">
                            <label>Ville pour facturation</label>
                            <input type="text" placeholder="Ville pour facturation" id="modifier_famille_ville_fact">
                        </div>
                    </div>
                    <div class="field">
                        <label>Notes</label>
                        <textarea rows="3" placeholder="Notes sur la famille" id="modifier_famille_notes"></textarea>
                    </div>
                    <button class="ui button" type="submit">Modifier</button>
                    <button id="annuler_modifier_famille" class="ui basic button">Annuler</button>
                </form>
            </p>
        </div>
        <a class="ui ribbon label">Enfants</a>
        <p id="content_enfants">
            <button class="ui button" id="button_ajouter_enfant"><i class="add user icon"></i>Ajouter un enfant</button>
        </p>
        <div id="ajout_enfant" style="display:none">
            <a class="ui ribbon label">Ajouter un enfant</a>
            <p>
                <form class="ui form" id="form_ajouter_enfant">
                    <div class="fields">
                        <div class="five wide field">
                            <label>Nom</label>
                            <input type="text" placeholder="Nom" id="ajouter_nom">
                        </div>
                        <div class="five wide field">
                            <label>Prénom</label>
                            <input type="text" placeholder="Prénom" id="ajouter_prenom">
                        </div>
                        <div class="five wide field">
                            <label>Classe</label>
                            <input type="text" placeholder="Classe" id="ajouter_classe">
                        </div>
                    </div>
                    <button class="ui button" type="submit">Ajouter</button>
                    <button id="annuler_ajouter_enfant" class="ui basic button">Annuler</button>
                </form>
            </p>
        </div>
    </div>

    

    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="depot">Dépôts</a>
        <a class="item" data-tab="achat">Achats</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="depot">
        <a class="ui ribbon label">Nouveau dépôt</a>
        <p>
            <form class="ui form" id="form_nouveau_depot">
                <div class="fields">
                    <div class="three wide field" id="enfants_depot" style="display:none">
                        <label>Enfant</label>
                        <select class="ui dropdown" id="enfants_depot_val">
                            
                        </select>
                    </div>
                    <div class="four wide field">
                        <label>Code manuel</label>
                        <input type="text" placeholder="Code manuel" id="depot_code_manuel">
                    </div>
                    <div class="four wide field">
                        <label>Code exemplaire</label>
                        <input type="text" placeholder="Code exemplaire" id="depot_code_exemplaire">
                    </div>
                    <div class="two wide field">
                        <label>Code état</label>
                        <input type="text" placeholder="Code état" id="depot_code_etat">
                    </div>
                    <div class=" wide field">
                        <input type="submit" class="ui button" value="Ajouter" style="margin-top: 22px">
                    </div>
                </div>
            </form>  
        </p>
        <a class="ui ribbon label">Liste des dépôts</a>
        <p id="liste_depots"></p>
        <div id="legende_depot" style="display:none">
            <i class="check circle icon"></i> : Exemplaire vendu <br>
            <i class="external icon"></i> : Exemplaire rendu à la famille
        </div>
        <div id="recapitulatif_depot" style="display:none">
            <a class="ui ribbon label">Récapitulatif</a>
            <p></p>
            <div class="ui three column centered grid">
                <div class="left floated column" style="max-width:400px">
                    <div class="ui top attached segment" >
                        Montant des ventes : 
                        <strong id="recapitulatif_depot_montant_vente">0 €</strong>
                    </div>
                    <div class="ui attached segment" >
                        Frais de dossier : 
                        <strong id="recapitulatif_depot_frais_dossier">0 €</strong>
                    </div>
                    <div class="ui attached segment">
                        Frais d'envoi : 
                        <strong id="recapitulatif_depot_frais_envoi">0 €</strong>
                        <br>
                        <div id="checkbox_frais_envoi"></div>
                    </div>
                    <!--<div class="ui attached segment" >
                        Montant payé à la famille : 
                        <strong id="recapitulatif_depot_montant_paye">0 €</strong>
                    </div>-->
                    <div class="ui bottom block attached header" >
                        <i class="payment icon"></i>
                        <div class="content">
                            Montant à payer
                            <div class="sub header" id="recapitulatif_depot_montant">0 €</div>
                        </div>
                    </div>
                </div>
                <div class="right floated column">
                    <!--
                    <div class="ui raised segment">
                        <a class="ui ribbon label">Effectuer un paiement</a>
                        <p>
                            <form class="ui form" id="form_depot_paiement">
                                <div class="fields">
                                    <div class="field" style="text-align:left">
                                        <label>Montant</label>
                                        <input type="number" min="0" step="0.01" placeholder="Montant" id="depot_paiement_montant">
                                    </div>
                                    <div class=" wide field">
                                        <input type="submit" class="ui button" value="Valider" style="margin-top: 22px">
                                    </div>
                                </div>
                            </form>
                        </p>
                    </div>
                    -->
                    <a href="/recepisse/depot/{{famille.id}}">
                        <div class="ui labeled huge icon button">
                            <i class="file text outline icon"></i>
                            Générer récépissé
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="ui bottom attached tab segment" data-tab="achat">
        <a class="ui ribbon label">Nouvel achat</a>
        <p>
            <form class="ui form" id="form_nouvel_achat">
                <div class="fields">
                    <div class="three wide field" id="enfants_achat" style="display:none">
                        <label>Enfant</label>
                        <select class="ui dropdown" id="enfants_achat_val">
                            
                        </select>
                    </div>
                    <div class="four wide field">
                        <label>Code exemplaire</label>
                        <input type="text" placeholder="Code exemplaire" id="achat_code_exemplaire">
                    </div>
                    <div class=" wide field">
                        <input type="submit" class="ui button" value="Ajouter" style="margin-top: 22px">
                    </div>
                </div>
            </form>   
        </p>
        <a class="ui ribbon label">Liste des achats</a>
        <p id="liste_achats"></p>
        <div id="recapitulatif_achat" style="display:none">
            <a class="ui ribbon label">Récapitulatif</a>
            <p></p>
            <div class="ui two column centered grid">
                <div class="left floated column" style="max-width:400px">
                    <div class="ui top attached segment" >
                        Montant des achats : 
                        <strong id="recapitulatif_achat_montant_achat">0 €</strong>
                    </div>
                    <div class="ui attached segment" >
                        Frais de dossier : 
                        <strong id="recapitulatif_achat_frais_dossier">0 €</strong>
                    </div>
                    <div class="ui attached segment" >
                        Montant des paiements : 
                        <strong id="recapitulatif_achat_montant_paiement">0 €</strong>
                    </div>
                    <div class="ui bottom block attached header" >
                        <i class="payment icon"></i>
                        <div class="content">
                            Montant restant à payer
                            <div class="sub header" id="recapitulatif_achat_montant">0 €</div>
                        </div>
                    </div>
                </div>
                <div class="right floated column">
                    <div class="ui raised segment">
                        <div id="nouveau_paiement">
                        <a class="ui ribbon label">Paiement</a>
                            <form class="ui form" id="form_achat_paiement">
                                <div class="fields">
                                    <div class="field">
                                        <label>Mode</label>
                                        <select class="ui dropdown" id="achat_paiement_mode">
                                        </select>
                                    </div>
                                    <div class="field" style="text-align:left">
                                        <label>Montant</label>
                                        <input type="number" min="0" step="0.01" placeholder="Montant" id="achat_paiement_montant">
                                    </div>
                                    <div class=" wide field">
                                        <input type="submit" class="ui button" value="Payer" style="margin-top: 22px">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <a class="ui ribbon label">Liste des paiements</a>
                        <div id="achat_liste_paiements"></div>
                    </div>
                    <a href="/recepisse/achat/{{famille.id}}">
                        <div class="ui labeled huge icon button">
                            <i class="file text outline icon"></i>
                            Générer récépissé
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="ui modal" id="modal_erreur">
    <i class="close icon"></i>
    <div class="header">
        Erreur !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<div class="ui modal" id="modal_succes">
    <i class="close icon"></i>
    <div class="header">
        Succès !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<script type="text/javascript" src="/styles/js/bourse.js"></script>

{% endblock %}