{% extends 'main.html.twig' %}
{% set titre = 'Accueil' %}
{% block main_content %}
<div class="ui raised segment" id="chercher_famille">
    <a class="ui ribbon label">Chercher une famille</a>
    <p>
        <div class="ui form">
            <div class="fields">
                <div class="four wide field">
                    <label>Nom</label>
                    <input type="text" placeholder="Nom" id="rechercher_nom">
                </div>
                <div class="four wide field">
                    <label>E-mail</label>
                    <input type="text" placeholder="Adresse e-mail" id="rechercher_mail">
                </div>
                <div class="four wide field">
                    <label>Numéro de dossier</label>
                    <input type="text" placeholder="Numéro de dossier" id="rechercher_dossier">
                </div>
                <div class="four wide field">
                    <label>Numéro d'exemplaire</label>
                    <input type="text" placeholder="Numéro d'exemplaire" id="rechercher_exemplaire">
                </div>
            </div>
        </div>
        <button class="ui button" id="button_rechercher_famille"><i class="search icon"></i> Rechercher</button>
        <button class="ui button" id="button_ajouter_famille"><i class="plus icon"></i>Ajouter une nouvelle famille</button>
        <div id="recherche" style="display:none">
            <br>
            <a class="ui ribbon label">Résultat de recherche</a>
            <div class="content" style="margin-top: 10px">
                
            </div>
        </div>
    </p>
</div>
<div class="ui raised segment" id="segment_ajouter_famille" style="display:none">
    <a class="ui ribbon label">Ajouter une famille</a>
    <a class="ui top right attached label" id="close_ajouter_famille" title="Annuler"><i class="remove icon" style="margin: inherit"></i></a>
    <p>
        <form class="ui form" id="form_ajouter_famille">
            <div class="fields">
                <div class="four wide field">
                    <label>Nom</label>
                    <input type="text" placeholder="Nom" id="ajouter_nom">
                </div>
                <div class="four wide field">
                    <label>Prénom</label>
                    <input type="text" placeholder="Prénom" id="ajouter_prenom">
                </div>
                <div class="three wide field">
                    <label>Téléphone</label>
                    <input type="text" placeholder="Téléphone" id="ajouter_tel">
                </div>
                <div class="five wide field">
                    <label>E-mail</label>
                    <input type="email" placeholder="Adresse e-mail" id="ajouter_mail">
                </div>
            </div>
            <div class="fields">
                <div class="ten wide field">
                    <label>Adresse</label>
                    <input type="text" placeholder="Adresse" id="ajouter_adresse">
                </div>
                <div class="six wide field">
                    <label>Complément</label>
                    <input type="text" placeholder="Complément d'adresse" id="ajouter_complement">
                </div>
            </div>
            <div class="fields">
                <div class="three wide field">
                    <label>Code postal</label>
                    <input type="number" placeholder="Code postal" id="ajouter_cp">
                </div>
                <div class="four wide field">
                    <label>Ville</label>
                    <input type="text" placeholder="Ville" id="ajouter_ville">
                </div>
                <div class="two wide field">
                </div>
                <div class="four wide field">
                    <label>Adhérent</label>
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="ajouter_adherent">
                            <label>Adhérent de l'association</label>
                        </div>
                    </div>
                </div>
                <div class="three wide field">
                    <label>Frais</label>
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="ajouter_frais">
                            <label>Pas de frais</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Adresse de facturation</label>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" checked id="ajouter_fact">
                        <label>Adresse de facturation identique</label>
                    </div>
                </div>
            </div>
            <div id="facturation" style="display:none">
                <div class="fields">
                    <div class="four wide field">
                        <label>Nom pour facturation</label>
                        <input type="text" placeholder="Nom pour facturation" id="ajouter_nom_fact">
                    </div>
                    <div class="four wide field">
                        <label>Prénom pour facturation</label>
                        <input type="text" placeholder="Prénom pour facturation" id="ajouter_prenom_fact">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Adresse pour facturation</label>
                        <input type="text" placeholder="Adresse pour facturation" id="ajouter_adresse_fact">
                    </div>
                    <div class="six wide field">
                        <label>Complément pour facturation</label>
                        <input type="text" placeholder="Complément d'adresse pour facturation" id="ajouter_complement_fact">
                    </div>
                </div>
                <div class="fields">
                    <div class="three wide field">
                        <label>Code postal pour facturation</label>
                        <input type="number" placeholder="Code postal pour facturation" id="ajouter_cp_fact">
                    </div>
                    <div class="four wide field">
                        <label>Ville pour facturation</label>
                        <input type="text" placeholder="Ville pour facturation" id="ajouter_ville_fact">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Notes</label>
                <textarea rows="3" placeholder="Notes sur la famille" id="ajouter_notes"></textarea>
            </div>
            <button class="ui button" type="submit">Ajouter</button>
            <button id="annuler_ajouter_famille" class="ui basic button">Annuler</button>
            
        </form>
    </p>
</div>


<!-- Modals -->
<div class="ui modal" id="modal_erreur">
    <i class="close icon"></i>
    <div class="header">
        Erreur !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<div class="ui modal" id="modal_succes">
    <i class="close icon"></i>
    <div class="header">
        Succès !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>


<script type="text/javascript" src="/styles/js/index.js"></script>
{% endblock %}