<!DOCTYPE html>
<head>
    <title>ScolBourse - Connexion</title>
    <meta-charset="utf-8">
    <link rel="stylesheet" href="/styles/css/semantic.css">
    <link rel="stylesheet" href="/styles/css/main.css">
</head>
<body>
    <header>
        <h2 class="ui center aligned icon header" style="margin-top: 50px;">
            <i class="circular book icon"></i>
            ScolBourse
        </h2>
    </header>
    <div id="content" style="margin-top: 50px;">
        <div class="ui two column centered grid">
            <div class="column">
                <form method="post" action="" class="ui fluid form error segment">
                    {% if (error == true) %}
                    <div class="ui error message">
                        <div class="header">Erreur</div>
                        <p>Mauvais identifiants.</p>
                    </div>
                    {% endif %}
                    <div class="field">
                        <label>Utilisateur</label>
                        <input placeholder="Utilisateur" type="text" name="login" required {% if login %}value="{{login}}" {% endif %}>
                    </div>
                    <div class="field">
                        <label>Mot de passe</label>
                        <input placeholder="Mot de passe" type="password" name="password" required>
                    </div>
                    <button class="ui submit button">Connexion</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>