<!DOCTYPE html>
<head>
    <title>{{ titre|default('') }} - ScolBourse</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/semantic.css">
    <link rel="stylesheet" href="/styles/css/main.css">
    <link rel="stylesheet" href="/styles/css/select2.css">
    <script src="/styles/js/jquery.min.js"></script>
    <script src="/styles/js/semantic.js"></script>
    <script src="/styles/js/select2.js"></script>
    <script src="/styles/js/file_input.js"></script>
</head>
<body>
    <header>
        <h2 class="ui center aligned icon header">
            <i class="circular book icon"></i>
            ScolBourse
        </h2>
    </header>
    <div id="content">
    <nav class="ui menu ">
        <a class="item index" href="/">
            <i class="home icon"></i> Accueil
        </a>
        
        <div class="right menu">
            <a class="item" id="deconnexion" href="/logout">
                <i class="sign out icon"></i> Déconnexion
            </a>
            {% if (user) and (user.id_role > 1) %}
                <a class="item administration" href="/admin">
                    <i class="settings icon"></i> Administration
                </a>
            {% endif %}
            <a class="item" href="/compte">
                <i class="configure icon"></i> Paramètres
            </a>
        </div>
    </nav>
    
    {% block main_content %}
    {% endblock %}
    </div>
</body>
</html>