{% extends 'main.html.twig' %}
{% set titre = 'Manuel' %}
{% block main_content %}
<div class="ui raised segment" id="modifier_manuel" data-id="{{manuel.id}}">
    <a class="ui ribbon label">Modifier le manuel</a>
    <p>
        <form class="ui form" id="form_modifier_manuel">
            <div class="fields">
                <div class="four wide field">
                    <label>Code manuel</label>
                    <input type="text" readonly="readonly" value="{{manuel.isbn}}" >
                </div>
                <div class="four wide field">
                    <label>Tarif neuf</label>
                    <input type="number" step="0.01" placeholder="Tarif neuf" id="modifier_manuel_tarif" value="{{manuel.tarif}}">
                </div>
            </div>
            <div class="field">
                <label>Titre</label>
                <input type="text" placeholder="Titre" id="modifier_manuel_titre" value="{{manuel.titre}}">
            </div>
            <div class="fields">
                <div class="four wide field">
                    <label>Matière</label>
                    <input type="text" placeholder="Matière" id="modifier_manuel_matiere" value="{{manuel.matiere}}">
                </div>
                <div class="four wide field">
                    <label>Classe</label>
                    <input type="text" placeholder="Classe" id="modifier_manuel_classe" value="{{manuel.classe}}">
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label>Editeur</label>
                    <input type="text" placeholder="Editeur" id="modifier_manuel_editeur" value="{{manuel.editeur}}">
                </div>
                <div class="three wide field">
                    <label>Année d'édition</label>
                    <input type="text" placeholder="Année" id="modifier_manuel_annee" value="{{manuel.annee}}">
                </div>
            </div>
            <button class="ui button" type="submit">Modifier</button>
        </form>
    </p>
</div>
<!--<div class="ui raised segment" id="supprimer_manuel">
    <a class="ui ribbon label">Supprimer le manuel</a>
    <p>
        <button class="ui button" id="button_supprimer_manuel"><i class="remove icon"></i> Supprimer</button>
    </p>
</div>-->

<!-- Modals -->
<div class="ui modal" id="modal_erreur">
    <i class="close icon"></i>
    <div class="header">
        Erreur !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<div class="ui modal" id="modal_confirm_supprimer">
    <i class="close icon"></i>
    <div class="header">
        Suppression du manuel
    </div>
    <div class="content">
        Confirmer la suppression du manuel ?
    </div>
    <div class="actions">
        <div class="ui cancel button">Annuler</div>
        <button type="submit" class="ui ok red button">Supprimer</button>
    </div>
</div>

<div class="ui modal" id="modal_succes">
    <i class="close icon"></i>
    <div class="header">
        Succès !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<script type="text/javascript" src="/styles/js/manuel.js"></script>
{% endblock %}