{% extends 'main.html.twig' %}
{% set titre = 'Paramètres' %}
{% block main_content %}

    <div class="ui two column centered grid">
        <div class="column">
            <h3 class="ui top attached header">
                Modifier un utilisateur
            </h3>
            <form id="modif_user_form" method="post" action="#" class="ui fluid form error attached segment">
            	<div class="two fields">
    				<div class="field">
      					<label>Login</label>
      					<input value="{{user.login}}" type="text"  id="modif_user_login" readonly>
    				</div>
    				<div class="field">
      					<label>Role</label>
     					<input value="{{role.libelle}}" type="text" id="modif_user_role" readonly>
    				</div>
 				</div>
                <div class="field">
                    <label>Ancien mot de passe</label>
                    <input placeholder="Utilisateur" type="password" name="nom" id="ancien_mdp_user" required>
                </div>
                <div class="field">
                    <label>Nouveau mot de passe</label>
                    <input placeholder="Mot de passe" type="password" id="nv_pass" required>
                </div>
                <div class="field">
                    <label>Confirmation mot de passe</label>
                    <input placeholder="Mot de passe" type="password" id="confirm_nv_pass" required>
                </div>
                <button class="ui submit button"><i class="user icon"></i>Valider</button>
            </form>
        </div>
    </div>

<div class="ui modal" id="modal_erreur">
    <i class="close icon"></i>
    <div class="header">
        Erreur !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<div class="ui modal" id="modal_succes">
    <i class="close icon"></i>
    <div class="header">
        Succès !
    </div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui button">Fermer</div>
    </div>
</div>

<script type="text/javascript" src="/styles/js/user.js"></script>

{% endblock %}