/* line 1, ../scss/main.scss */
* {
  outline: none;
}

/* line 4, ../scss/main.scss */
body {
  position: relative;
  margin: auto;
  max-width: 1280px;
}

/* line 9, ../scss/main.scss */
textarea {
  height: inherit !important;
  min-height: inherit !important;
}

@media screen and (max-width: 800px) {
  /* line 14, ../scss/main.scss */
  .ui.grid {
    margin-left: inherit;
  }

  /* line 17, ../scss/main.scss */
  .column {
    width: 100% !important;
    margin: auto;
  }
}
/* line 22, ../scss/main.scss */
a {
  color: inherit;
}
/* line 24, ../scss/main.scss */
a:hover {
  color: inherit;
}

/* line 29, ../scss/main.scss */
.select2 {
  max-width: 100%;
}

/* line 33, ../scss/main.scss */
#deconnexion {
  position: absolute;
  top: 5px;
  right: 15px;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.2857rem;
}
/* line 39, ../scss/main.scss */
#deconnexion:before {
  background: none;
}

/* line 43, ../scss/main.scss */
#content {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 47, ../scss/main.scss */
.segment p {
  margin-top: 10px;
}

/* line 51, ../scss/main.scss */
.not_found {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

/* line 55, ../scss/main.scss */
.select_famille, .select_manuel {
  cursor: pointer;
}

/* line 59, ../scss/main.scss */
.notification {
  height: auto;
  padding: 10px;
  border-bottom: #0a0;
  background: rgba(75, 200, 75, 0.9);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 0px #999;
  display: none;
  z-index: 3;
}
