* {
    outline: none;
}
body {
    position: relative;
    margin: auto;
    max-width: 1280px;
}
textarea {
    height: inherit !important;
    min-height: inherit !important;
}
@media screen and (max-width: 800px) {
    .ui.grid {
        margin-left: inherit;
    }
    .column {
        width: 100% !important;
        margin: auto;
    }
}
a {
    color: inherit;
    &:hover {
        color: inherit;
    }
}

.select2 {
    max-width: 100%;
}

#deconnexion {
    position: absolute;
    top: 5px;
    right: 15px;
    box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.2857rem;
    &:before {
        background: none;
    }
}
#content {
    margin-left: 15px;
    margin-right: 15px;
}
.segment p {
    margin-top: 10px;
}

.not_found {
    text-align: center;
    color: rgba(0,0,0,.4);
}
.select_famille, .select_manuel {
    cursor: pointer;
}

.notification {
    height: auto;
    padding: 10px;
    border-bottom: #0a0;
    background: rgba(75,200,75,0.90);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.35);
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 0px #999;
    display: none;
    z-index: 3;
}