body {
    width: 768px;
    margin: auto;
    font-family: arial;
}

#logo {
    width: auto;
    height: 100px;
}

#header {
    text-align: center;
    font-size: 30px;
    margin-top: -80px
}

#footer {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}

#coordonnees_famille {
    border: 1px solid #000;
    margin-top: 20px;
    padding: 5px;
}

#montants {
    border: 1px solid #000;
    margin-top: 20px;
    padding: 5px;
    margin-left: 500px;
}

table {
    width: 100%;
    margin-top: 30px;
}

th {
    text-align: left;
}